<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css"></link>
    <title>Document</title>
</head>
<body>
    <div class="navbar"></div>

    <div class="sidebar"></div>

    <div class="content">
        <div class="heading">
            <h1>BookMark Manager</h1>
        </div>
        <div class="addLinkTab">
            <button class="addLinkButton">Add link</button>
            <input type="text" placeholder="Add BookMark Name" class="nameInput"></input>
            <input type="text" placeholder="Paste a link" class="linkInput"></input>
        </div>
        <div class="heading">
            <h1>Links</h1>
        </div>
        <ul id="links"></ul>
    </div>

    <script src="index.js"></script>
</body>
</html>